In [2]:
mystring = 'hello'

In [4]:
mylist = []

for letter in mystring:
    mylist.append(letter)

mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [10]:
mylist  = [x for x in 'word']

In [8]:
mylist

['w', 'o', 'r', 'd']

In [13]:
mylist = [x**2 for x in range(0,11)]

In [14]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
mylist = [x**2 for x in range(0,11) if x%2==0]

mylist

In [18]:
mylist

[0, 4, 16, 36, 64, 100]

In [19]:
celcius = [0,10,20,34]

fa = [((9/5)*temp + 32) for temp in celcius ]

In [20]:
fa

[32.0, 50.0, 68.0, 93.2]

In [21]:
results = [x if x%2 == 0 else 'ODD' for x in range(11) ]

In [22]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [23]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [24]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [25]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [26]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]