In [3]:
mlist = [1,2,3,4,5,6,7,8,9,10]

In [4]:
for numbers in mlist:
    print(numbers)

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in mlist:
    if num%2 == 0:
        print(num)
    else:
        print(f'Odd numbers {num}')

Odd numbers 1
2
Odd numbers 3
4
Odd numbers 5
6
Odd numbers 7
8
Odd numbers 9
10

In [11]:
listsum = 0

for num in mlist:
    listsum += num
    print(listsum)
#print(listsum)

1
3
6
10
15
21
28
36
45
55

In [12]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [14]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [15]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [16]:
len(mylist)

4

In [19]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [20]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [21]:
for a,b,c in mylist:
    print(b)

2
6
9

In [25]:
d = {'k1':1,"k2":2,"k3":3}

for key,value in d.items():
    print(value)

1
2
3

In [28]:
cls

In [33]:
x = 50
while x<5:
    print(f'the current value of x is {x}')
    x +=1
    
else:
    print('X is not less than 5')

X is not less than 5

In [4]:
x = [1,2,3]

for item in x:
    #comment
    pass

print("end of my script")

end of my script

In [7]:
mystring = "Sammy"
for letter in mystring:
    if letter  == 'a':
       # continue
        break
    print(letter)

S

In [11]:
x = 0
while x<5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

In [12]:
cls

In [1]:
mylist = [1,2,3]

In [5]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [12]:
index_count = 0
word = 'abced'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
e


4
d

In [21]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d']
mylist3 = [100,200,300]

In [22]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [24]:
'x' in [1,2,3]

False

In [25]:
'x' in ['x','y','z']

True

In [26]:
'a' in 'a world'

True

In [27]:
'mykey' in {'mykey':234}

True

In [29]:
d = {'mykey':345}
345 in d.keys()

False

In [30]:
mylist = [1,2,3,4,5]

In [31]:
min(mylist)

1

In [32]:
max(mylist)

5

In [33]:
tup = (1,2,3,4,5)

In [34]:
min(tup)

1

In [35]:
max(tup)

5

In [36]:
from random import shuffle

In [37]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [38]:
shuffle(mylist)

In [39]:
mylist

[3, 9, 8, 1, 6, 5, 2, 7, 10, 4]

In [40]:
mylist.sort()

In [41]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
randomlist = shuffle(mylist)

In [43]:
type(randomlist)

NoneType

In [45]:
mylist.sort()

In [46]:
from random import randint

In [47]:
randint(0,100)

24

In [48]:
randint(0,100)

25

In [49]:
mynum = randint(0,10)

In [50]:
mynum

9

In [53]:
result = input('Enter a string here \n')

Enter a number here
asdf